/* -------------------------------------------------------------------------- */
/*                                Google fonts                                */
/* -------------------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
/* ---------------------------------- ---- ---------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                 RESET CODES                               */
/* -------------------------------------------------------------------------- */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Roboto", Arial, sans-serif;
}

  .container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }


/* --------------------------------- 1200px --------------------------------- */
@media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }
/* ---------------------------------- 992px --------------------------------- */
@media (max-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  /* ---------------------------------- 768px --------------------------------- */
  @media (max-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  /* ----------------------------------- 576px ---------------------------------- */
  @media (max-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
